@import "tailwindcss";

:root {
  --arctic: #F1F6F4;
  --mint: #D9E8E2;
  --yellow: #FFC801;
  --saffron: #FF9932;
  --teal: #114C5A;
  --noir: #172B36;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #172B36;
  color: #F1F6F4;
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'JetBrains Mono', monospace;
}